div.mf-viral {display: none;}
br {display: none;}
div#risultato span {font-size: 11px; font-style: italic;}
#active {color: #009245;}
.news_content {
    width: 97%;
    margin: auto;
    background-color: #fff;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    padding: 5px;
    color: #666;
    font-size: 13px;
    margin-bottom: 8px;
	border: 1px solid #009245;
    }

.my-button-home { width: 30px; height: 30px; background-image: url("images/home.png"); background-size: 28px 28px; background-position: center center; }

.my-button-preference { width: 30px; height: 30px; background-image: url("images/gear.png"); background-size: 28px 28px; background-position: center center; }

